.newGameButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding: 10px;
    font-size: 30px;
    border: solid 1px purple;
    border-radius: 7%;
}

.newGameButton:hover {
    background-color: cornflowerblue;
}

.loggedInBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}