.screenLeft {
    flex-direction: column;
}

.screenTop {
    flex-direction: row;
}

.screenRight {
    flex-direction: column;
}

.otherHand {
    display: flex;
    flex: 1; 
    justify-content: center;
    margin: auto;
    align-items: center;
    gap: 10px;
}