.loggedOutBar {
    display: flex;
    justify-content: space-around;
    align-self: center;
    flex: 1;
}

.authButton {
    border: 1px solid black;
    padding: 10px;
    border-radius: 7%;
    background-color: darkorchid;
    font-size: 20px;
}

.authButton:hover {
    background-color: bisque;
}