.GameTypeButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 30px;
}

.startMenuButton {
  font-size: 28px;
  padding: 10px;
  border-radius: 17%;
  border: 2px solid black;
  background-color: burlywood;
}

.startMenuButton:hover {
  background-color: cadetblue;
  border-width: 3px;
}